body{
    margin: 0;
    color: black;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    padding: 12px 5%;
    box-shadow: 0px 0px 6px #c3c3c3;
}

.logo{
    height: 48px;
}

.navBar{
    margin-left: auto;
}
.navBar ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}
.navBar ul li{
   display: inline-block;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 20px;
   font-weight: 400;
}
.navBar a{
    text-decoration: none;
    color: black;
    padding: 0pc 20px;
 }
 .social-media{
     margin-left: auto;
 }
 .social-media img{
    height: 32px;
}

.top-content{
    display: flex;
    margin-top: 30px;
    background-image: url(../images/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 5%;
    height: 90vh;
    /* width: 100%; */
    align-items: center;
    justify-content: space-between;
    /*
    display: grid;
    grid-auto-rows: 3fr 1fr;
    grid-template-areas: 
    'left1 left1 right'
    'left1 left1 blank ';
    grid-gap: 10px;
    background-color: #BFAA93;*/
}
.left-side{
    display: inline-block;
    width: 40%;
    
    /*
    grid-area: left1;
    position: relative;
    height: 400px;*/
}
.right-side{
    display: inline-block;
    width: 500px;
    
    /*grid-area: right;
    width: 340px;
    z-index: 9;
    padding-right: 30px;
    */
}
.blank{
    grid-area: blank;
    background-color: white;
}
.place-holder{
    /*
    background-color:#685a4b ;
    margin: auto;
    position: absolute;
    right: -40px;
    top: -60px;
    width: 300px;
    height: 90%;
    z-index: 0;
    */
}

footer{
    background-color: #BFAA93;
    padding: 30px;
}

/* Typography*/

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 47px;
    font-weight: 700;
}

header h6{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 120%;
    width: 74px;
    margin: 0;
}


p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
.text-lg{
    font-size: 40px;
    font-weight: 900;

}
.text-center{
    text-align: center;
}