
body{
    margin: 0;
    color: black;
}

/* Navigation */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    padding: 5px 5%;
    box-shadow: 0px 0px 2px #cfcfcf;
}

.logo{
    height: 48px;
}

.navBar{
    margin-left: auto;
}

.navBar ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.navBar ul li{
   display: inline-block;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 20px;
   font-weight: 400;
}

ul li:hover{
    font-weight: bold;
}
.navBar a{
    text-decoration: none;
    color: black;
    padding: 0pc 20px;
 }

 .social-media{
    margin-left: auto;
 }


.bttn{
    border-style: solid;
    border-radius: 25px;
    width: 110px;
    height: 35px;
    border-color: #685a4b;
    background-color: #685a4b;
    color: white;
}

.bttn:hover{
    color: #685a4b;
    background-color: white;
}

/* Top Content */
.top-content{
    display: flex;
    margin-top: 30px;
    
    background-image: url(../images/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 5%;
    height: 90vh;
    align-items: center;
    justify-content: space-between;
}

.left-side{
    display: inline-block;
    width: 40%;
}

.right-side{
    display: inline-block;
    width: 500px;
}

.blank{
    grid-area: blank;
    background-color: white;
}


/* About Me */
.about-me{
    margin: 0 5%;
    margin-top: 50px;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
}

.columns{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    
}
.illustration{
    background-color:#685a4b;
    margin-top: 50px;
    /*margin: auto;*/
    width: 400px;
    height: 200px;
    
    
}

/* My Work */
.my-work{
    padding: 60px;
}
.top{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}


.bottom{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 50px;
  
}


/* Footer */
footer{
    background-color: #BFAA93;
    padding: 30px;
}


/* Typography*/
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 47px;
    font-weight: 700;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    font-weight: normal;
}

header h6{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 120%;
    width: 74px;
    margin: 0;
}

.content p{
    width: 400px;

}

footer p{
    color: white;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

.text-lg{
    font-size: 40px;
    font-weight: 900;

}
.text-center{
    
    text-align: center;
}