body{
    margin: 0px 5%;
    color: black;
    height: 1200px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 48px;
}
.navBar ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}
.navBar ul li{
   display: inline-block;
}
.navBar a{
    text-decoration: none;
    color: black;
    padding: 0pc 20px;
 }
 .social-media{
     margin-left: auto;
 }
 .social-media img{
    height: 32px;
}

.top-content{
    margin-top: 120px;
    display: grid;
    grid-auto-rows: 3fr 1fr;
    grid-template-areas: 
    'left1 left1 right'
    'left1 left1 blank ';
    grid-gap: 10px;
    background-color: #BFAA93;
}
.left-side{
    grid-area: left1;
    position: relative;
    height: 400px;
}
.right-side{
    grid-area: right;
    width: 340px;
    z-index: 9;
    padding-right: 30px;
    
}
.blank{
    grid-area: blank;
    background-color: white;
}
.place-holder{
    background-color:#685a4b ;
    margin: auto;
    position: absolute;
    right: -40px;
    top: -60px;
    width: 300px;
    height: 90%;
    z-index: 0;
}

/* Typography*/

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 47px;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
.text-lg{
    font-size: 40px;
    font-weight: 900;

}